<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <a href="#"><img src="images/logo-mercado-liebre.svg" alt="no se encontro imagen"></a>
        <p>Lugar para poner barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayudar</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <img src="images/img-home-banner.jpg" alt="no se encontro la imagen" width="320px">
    </header>

    <main>
        <section id="ultimaVisita">
            <h3>Basado en tu ultima visita</h3>
            <div>
                <a href="#"><img src="images/img-cafetera-moulinex.jpg" alt="no se encontro la imagen"
                        width="320px"></a>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </div>
            <div>
                <a href="#"><img src="images/img-macbook-pro-2019.jpg" alt="no se encontro la imagen" width="320px"></a>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </div>
            <div>
                <a href="#"><img src="images/img-samsung-galaxy-s10.jpg" alt="no se encontro la imagen"
                        width="320px"></a>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </div>
            <div>
                <a href="#"><img src="images/img-tv-samsung-smart.jpg" alt="no se encontro la imagen" width="320px"></a>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 23"</strong></p>
            </div>
        </section>

        <section id="ofertas">
            <h3>Ofertas</h3>
            <div>
                <a href="#"><img src="images/img-cafetera-moulinex.jpg" alt="no se encontro la imagen"
                        width="320px"></a>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </div>
            <div>
                <a href="#"><img src="images/img-macbook-pro-2019.jpg" alt="no se encontro la imagen" width="320px"></a>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </div>
            <div>
                <a href="#"><img src="images/img-samsung-galaxy-s10.jpg" alt="no se encontro la imagen"
                        width="320px"></a>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </div>
            <div>
                <a href="#"><img src="images/img-tv-samsung-smart.jpg" alt="no se encontro la imagen" width="320px"></a>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 23"</strong></p>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>