<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Login</title>
</head>

<body>
    <header>
        <div class="header-main">
            <div class="header-top">
                <div class="header-logo-buscador">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="no se encontro imagen" class="logo"></a>
                    <form action="/" method="get">
                        <div class="buscador">
                            <input placeholder="Buscar productos, marcas">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de credito</p>
            </div>
            <nav>
                <ul class="navbar-principal">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayudar</a></li>
                </ul>
                <ul class="navbar-user">
                    <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <button><i class="fas fa-bars"></i></button>
            </div>
        </div>
        <img src="images/img-home-banner.jpg" alt="no se encontro la imagen" class="banner">
    </header>

    <main>
        <div class="main-content">
            <h1>Ingresar</h1>
        </div>
        <div class="form-register">
            <form action="/" method="GET">
                <div class="input-manual">
                    <label for="nombre_usuario">Nombre de usuario</label>
                    <input type="text" name="nombre_usuario" id="nombre_usuario" required>
                </div>
                <div class="input-manual">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="buttons-form">
                    <button type="submit" class="btn-submit">Ingresar</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div>
            <i class="fas fa-credit-card"></i>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>