/* PALETA DE COLORES
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

/* -------- CONFIGURACION GLOBAL -------- */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
}

title {
    display: none;
}

/* ----------- HEADER HEADER HEADER ------------- */
header {
    background-color: #EAC926;
}

header p {
    text-align: center;
}

header nav {
    display: none;
}

header img {
    width: 100vw;
}

.buscador {
    display: flex;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.burger-menu {
    text-align: center;
    margin-bottom: 30px;
}

.burger-menu button {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: #1259c3;
    border-radius: 5px;
}

.burger-menu i {
    font-size: small;
    color: white;
}


/* ----------- MAIN MAIN MAIN ------------- */
main {
    margin: auto;
    width: 90vw;
}

main div {
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
}

.articulo div {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.articulo img {
    width: 100%;
}

.icono-envio {
    border: solid 2px green;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

main i {
    color: green;
    font-size: 1.5em;
    margin-top: 0.4em;
    margin-left: 0.4em;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
    color: green;
}

.descripcion {
    display: none;
    font-size: 16px;
}


/* ----------- FOOTER FOOTER FOOTER ------------- */
footer {
    text-align: center;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
}

/* ESTILOS PARA TABLETS */
@media (min-width:361px) {
    .descripcion {
        display: block;
    }

    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}

/* ESTILOS PARA DESKTOP */
@media (min-width:769px) {}